<h1>TestOsm#show</h1>
<h1>nodes</h1>
<br>
<h1>Ways</h1>
<%=@ways.count%>
<%keys=["building","highway","railway","landuse"]%>
<%=keys%><br>
<%@ways.each do |way|%>
  <br>
  <%= stylesheet_link_tag 'test_osm' %>
  <%=way["tags"]%> <br>
  <%if way["tags"]!=nil%>
    <%gef=false%>
      <%@keys_poly.each do |key|%>
        <%t=way["tags"][key]%>
        <%if t!=nil%>
          <%gef=true%>
          Polygon
          <%break%>
        <%end%>
      <%end%>
      <%if gef==false%>
        <%@keys_line.each do |key|%>
          <%t=way["tags"][key]%>
          <%if t!=nil%>
            <%gef=true%>
            Line
            <%break%>
          <%end%>
        <%end%>
      <%end%>
  <%end%>

<%#end%>
<hr>
<br>
<%end%>
