
path{
  fill:none;
  stroke:none;
  stroke-width:3;
  visibility:visible;
}
.none{
  visibility:hidden;
}

.leisure_park, .leisure_playground{
  fill:green;
  stroke-width:1px;
  stroke: black;
}
.leisure_garden{
  fill:green;
  stroke-width:1px;
  stroke: black;
}

/*
 * Gebäute
 */
@mixin building($color){
  fill:$color;
  stroke:black;
  stroke-width:1;
}
.building_yes, .building_apartments,.amenity_hospital, .building_garages , .building_dormitory, .amenity_social_facility, .military_barracks{
  @include building(#660033);
}
.building_no{
  @include building(green)
}
.building_church{
  @include building(red)
}
.amenity_parking{
  fill:#f7efb7;
  stroke-width:1px;
  stroke:gray;
}
.amenity_university,
.amenity_college,
.amenity_school,
.amenity_kindergarten{
  fill:#f0f0d8;
  fill-opacity:0.2;
  stroke-width:0.1px;
  stroke: black;
}

/*
 * Landnutzung
 */
@mixin landuse($color){
  fill:$color;
  stroke:black;
  stroke-width:1;
}
.landuse_allotments {
  @include landuse(#e5c7ab);
}
.landuse_village_green, .landuse_vineyard{
  @include landuse(green);
}
.landuse_meadow, .landuse_grass{
  @include landuse(#33CC66);
}
.landuse_residential{
  @include landuse(#9CFFFF);
  fill-opacity:0.6;
}
.landuse_forest , .natural_wood{
  @include landuse(#006633)
}
.landuse_farmland, .landuse_farm{
  @include landuse(#CC9966);
  fill-opacity:0.7;
}
.landuse_farmyard{
  @include landuse(#ddbf92);
}
.landuse_commercial, .landuse_industrial, .landuse_railway{
  @include landuse(#efc8c8);
}
.landuse_garages{
  @include landuse(#999966);
}
.landuse_military{
  @include landuse(red);
}
.landuse_basin, .landuse_reservoir{
  @include landuse(blue);
}

/*
 *Wege
 */
@mixin highway($color,$width){
  fill:none;
  stroke:$color;
  stroke-width:$width;
}
.highway_crossing{
  stroke: gray;
}
.highway_primary, .highway_primary_link{
  @include highway(red,5px)
}
.highway_secondary , .highway_secondary_link{
  @include highway(#FF9900,5px)
}
.highway_tertiary, .highway_tertiary_link{
  @include highway(yellow,5px)
}
.highway_residential, .highway_living_street, .highway_unclassified{
  @include highway(gray,2px)
}
.highway_service{
  @include highway(gray,2px)
}

.highway_footway, .highway_pedestrian{
  @include highway(olive,1.5px)
}

.highway_path{
  @include highway(olive,1.5px)
}

.highway_steps{
  @include highway(gray,2px)
}

.highway_track{
  @include highway(olive,2px)
}
.highway_platform{
  fill:black;
}

/*
 * Schienen
 */
@mixin railway($color,$width,$l){
  stroke-dasharray:$l,$l/2;
  fill:none;
  stroke:$color;
  stroke-width:$width;
}
.railway_rail{
  @include railway(black,2px,7px)
}

/*
 * Sonstiges
 */
.landuse_cemetery{
  fill:#aacbaf;
  stroke-width:1px;
}
.leisure_pitch{
  fill:#8ad3af;
  stroke-width:0.5px;
  stroke:black;
}
.waterway_stream{
  @include highway(blue,5px);
}
.waterway_drain{
  stroke-width:0px;
}
.leisure_swimming_pool{
  fill:#b5d0d0;
  stroke-width:1px;
}
.natural_water{
  fill:blue;
}

/*
 * Power
 */
@mixin powerline($width){
  stroke:black;
  stroke-width:$width;
  fill:none;
}
.power_line{
  @include powerline(2px);
} 
.power_minor_line{
  @include powerline(1px);
}

.power_station, .power_sub_station{
  fill: gray;
  stroke:black;
  stroke-width:1px;
}

/*
 * Barrier
 */
@mixin barrier($color,$width){
  stroke:$color;
  stroke-width:$width;
  fill: none;
}

.barrier_city_wall, .barrier_retaining_wall, .barrier_wall{
  @include barrier(black,2px);
}
.barrier_ditch{
  @include barrier(blue,2px);
}
.barrier_fence{
  @include barrier(#996633,1px);
}
.barrier_hedge{
  @include barrier(green,2px);
}
/*
 * Grenzen
 */
@mixin boundary($width,$color){
  @include barrier($color,$width)
}
.boundary_administrative{
  @include boundary(2px,red);
}
.boundary_maritime{
  @include boundary(2px,green);
}
/*
 * Flughäfen
 */
.aeroway_terminal{
  fill:#FF00FF;
  stroke:black;
  stroke-width:1px;
}
.aeroway_taxiway, .aeroway_runway{
  @include highway(#660066,2px);
}
.aeroway_apron{
  fill:#660066;
}

.place_town, .place_city, .place_suburb, .place_village, .place_hamlet{
  fill:#CCCCFF
}

